@model BuiP3.Models.PeopleModel
@{
    ViewData["Title"] = Model.pageTitle;
}

<h1>@Model.title</h1>
<div>@Model.subTitle</div>

<div id="allPeople" style="display:none">
    <div id="pepTab">
        <ul>
            <li><a href="#fac">Faculty</a></li>
            <li><a href="#staff">Staff</a></li>
        </ul>
        <!--Faculty-->
        <div id="fac">
            @foreach (var faculty in Model.faculty)
            {
                <div class="person">
                    <img src="@faculty.imagePath" alt="@faculty.name's photo" />
                    <h3 style="font-size: small">
                        @faculty.name
                    </h3>
                    <h3 style="font-size: small">
                        @faculty.title
                    </h3>
                    <h3 style="font-size: small">
                        @faculty.office
                    </h3>
                    <h3 style="font-size: small">
                        (@faculty.phone)
                    </h3>
                    <h3 style="font-size: small">
                        Email: @faculty.email
                    </h3>
                    <!--If blank dont show-->
                    @if (!string.IsNullOrWhiteSpace(faculty.website))
                    {
                        <h3 style="font-size: small">
                            <a href="@faculty.website" target="_blank">My Site</a>
                        </h3>
                    }
                    <!--Make it clickable-->
                    @if (!string.IsNullOrWhiteSpace(faculty.twitter))
                    {
                        <h3 style="font-size: small">
                            Twitter: <a href="https://twitter.com/@faculty.twitter" target="_blank">@faculty.twitter</a>
                        </h3>
                    }

                    @if (!string.IsNullOrWhiteSpace(faculty.facebook))
                    {
                        <h3 style="font-size: small">
                            Facebook: <a href="https://facebook.com/@faculty.facebook" target="_blank">@faculty.facebook</a>
                        </h3>
                    }
                </div>
            }
        </div>
        <!--Staff-->

        <div id="staff">
            @foreach (var staff in Model.staff)
            {
                <div class="person">
                    <img src="@staff.imagePath" alt="@staff.name's photo" />
                    <h3>
                        @staff.name
                    </h3>
                    <h3 style="font-size: small">
                        @staff.title
                    </h3>
                    <h3 style="font-size: small">
                        @staff.office
                    </h3>
                    <h3 style="font-size: small">
                        (@staff.phone)
                    </h3>
                    <h3 style="font-size: small">Email: @staff.email</h3>

                    <!--If blank dont show-->
                    @if (!string.IsNullOrWhiteSpace(staff.website))
                    {
                        <h3 style="font-size: small">
                            <a href="@staff.website" target="_blank">My Site</a>
                        </h3>
                    }

                    @if (!string.IsNullOrWhiteSpace(staff.twitter))
                    {
                        <h3 style="font-size: small">
                            Twitter: <a href="https://twitter.com/@staff.twitter" target="_blank">@staff.twitter</a>
                        </h3>
                    }
                    <!--Make it clickable-->
                    @if (!string.IsNullOrWhiteSpace(staff.facebook))
                    {
                        <h3 style="font-size: small">
                            Facebook: <a href="https://facebook.com/@staff.facebook" target="_blank">@staff.facebook</a>
                        </h3>
                    }
                </div>
            }
        </div>
    </div>
</div>